.venv/
.env
__pycache__/
.pytest_cache/
*.egg-info/
.DS_Store
.idea/
.vscode/*.code-workspace
node_modules
dist
.DS_Store
.env*
.vscode/*.code-workspace
Dockerfile
.Dockerfile.swp
.dockerignore
.next
out
